 * {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}
.todo-task{
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 40px 100px;
    width: 80%;
}
.todo-icon {
  background-color: #3586b8;
  color: white;
  padding: 14px 15px;
  font-size: 16px;
}
h1 {
    font-family:sans-serif;
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
    position: relative;
}
.todo-input {
    display: flex;
    flex-direction: column;
    border: 2px solid #b0aeae;
    border-radius: 4px;
    padding:12px 20px;
}
input.todo-text {
    flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
}
button.add-btn {
    background-color: #3586b8;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
button.add-btn:hover {
    background: #1b4678;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.error-message {
    color: #f44336;
    margin-top: 0px;
    font-size: 14px;
    display: none;
}
.error-message.show {
    display: block;
}



.todo-list{
    width: 80%;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}
.filter-btn {
    width: 448px;
    align-items: center;
    padding: 8px 20px;
    background-color: #1278a7;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;
    border: 2px solid transparent;
}
.filter-btn:hover {
    background-color: #1b4678;
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(13, 90, 128, 0.3);
 
}
#todoItems {
    list-style: none; 
    padding: 0;
    margin: 0;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
}
.todo-item .actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-item i {
    cursor: pointer;
}


.icon-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.message-content {
  text-align: center;
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

.message-actions {
  margin-top: 20px;
  display: flex;
  justify-content:center;
  gap: 12px;
  
}

.confirm-btn {
  background: gray;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
}

.cancel-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
}
.fa-trash {
  color: red;
  cursor: pointer;
}
.todo-checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.fa-pen {
    color: #fbc02d; 
    cursor: pointer;
}
.save-btn {
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
}
#renameInput {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #4CAF50; 
    position: relative;
    background-color: white;
    cursor: pointer;
    border: 2px solid green;
}


input[type="checkbox"]:checked {
  background-color: white;
  border-color: green;
  position: relative;
}

input[type="checkbox"]:checked::after {

  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.delete-btn {
  color: #eb1a2f;
}

.bottom-buttons {
  display: flex;
  gap: 30px;
  margin-top: 20px;
    justify-content: center;
}

.bottom-delete-btn {
    width: 670px;
  flex: 1;
  padding: 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}